/* стилі для кабінета клієнта */
#client_owner {
  display: block;
  width: calc(100% - 50px);
  margin: 15px auto 0;
  position: relative;
}
#client_owner img {
  display: block;
  height: 150px;
  max-width: 150px;
  border: 1px solid black;
}
#client_owner h2 {
  display: block;
  max-width: 150px;
  position: absolute;
  top: 0px;
  left: 160px;
  font-size: 26px;
}
#client_owner button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 200px;
  font-size: 21px;
  cursor: pointer;
  background: linear-gradient(to right, #46588c, #d46e75);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-family: "Sriracha", cursive;
}

#object_in_owner {
  display: block;
  width: calc(100% - 50px);
  margin: 15px auto 0;
  position: relative;
}

.flexy {
  max-height: 280px;
}
.flexy tbody {
  max-height: 220px;
}
.flexy caption {
  display: block;
  margin: 0 auto;
}
.flexy tbody tr {
  display: inline-block;
  width: 100%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  font-size: 14px;
}
.flexy tbody td {
  height: 100px;
}
.flexy tbody tr:hover {
  cursor: pointer;
  background: rgb(187 187 186 / 80%);
}
.flexy .list_id {
  width: 40px;
}

.flexy .list_title {
  width: 150px;
}

.flexy .list_type {
  width: 150px;
}
.flexy .list_option {
  width: 200px;
}

.flexy button {
  height: 50px;
  width: 150px;
  font-size: 17px;
  cursor: pointer;
  background: linear-gradient(to right, #46588c, #d46e75);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-family: "Sriracha", cursive;
}
